<div class="collections-all">
  <div class="page-width">
    <div class="title-area">
      <h1 class="text-center subtitle items-title">ITEMS</h1>
    </div>
    <div class="products-area">
      <!-- コレクションの数だけループ -->
      {%- for collection in collections reversed -%}
      <div class="grid">
        <div class="grid__item grid-product small--one-half medium-up--one-third">
          <p class="items-stripe"></p>
          <h2 style="font-weight: 700;">{{collection.title}}</h2>
          <div class="items--collection-description">
            {{collection.description}}
          </div>
        </div>
        {%- for product in collection.products -%}
        {%- render 'product-grid-item', product: product, grid_item_width: "small--one-half
        medium-up--one-third",per_row: 3 -%}

        {%- endfor -%}
      </div>

      {%- endfor -%}

      <!-- コレクションの数だけループ -->
    </div>

  </div>
</div>