/* ABOUT top  */ 

.page-title {
  text-align: center;
}

.about-top{
  text-align: center;
  margin-top: 30px;
}

.about-top p {
  line-height: 45px;
  font-size: 1em;
}

@media only screen and (max-width:589px){
  .about-top p {
    line-height: 35px;
  }
}

/* ABOUT hello */

.about-hello {
  text-align: center;
  display: flex;
}

.about-hello-logo {
  width: 40%;
}

.about-hello h2 {
  margin: 0;
}

.about-hello-box {
  width: 80%;
  height: 12px;
  background-color: #DF8800;
  margin: 0 auto;
}

.about-hello-card,
.about-hello-image-wrapper{
  flex: 1;
}

.about-hello-card {
  box-shadow: 0px 8px 14px 8px #00000014;
  border-radius: 10px;
  padding-bottom: 50px;
  background-color: #fff;
}

.about-concept {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-radius: 10px;
  width: 85%;
  margin: 0 auto;
  padding: 50px 0;
}

.about-hello h3 {
  color: #FFFFFF;
  background-color: #DF8800;
  display: inline-block;
  padding: 0 30px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 0;
}

.about-hello .important-element {
  margin: 0;
}

.about-hello .important-element:first-of-type {
  margin-top: 5px;
}

.about-hello .important-element span {
  font-weight: bold;
}

/* 画像調整あとで */
.about-hello-image {
  width: 75%;
  height: 75%;
  margin: 0;
}

@media only screen and (max-width:589px){
  .about-hello {
    flex-direction: column-reverse;
  }
}

/* SPICE SYRUP CURRY 共通 */
.spice-container {
  width: 90%;
  margin: 0 auto;
}

.syrup-or-curry-switch ul {
  list-style: none;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #DF8800;
  height: 49px;
}

.syrup-or-curry-switch ul li:first-of-type {
  margin-right: 20px;
}

.syrup-or-curry-switch ul li a {
  padding: 10px 20px;
  display: block;
  font-weight: bold;
  border-radius: 10px 10px 0 0;
}

.nav-active a {
  background-color: #DF8800;
  border: 1px solid #DF8800;
  color: #fff;
}

.nav-not-active a {
  border-top: 1px solid #DF8800;
  border-right: 1px solid #DF8800;
  border-left: 1px solid #DF8800;;
}

@media only screen and (max-width:589px){
  .syrup-or-curry-switch {
    width: 90%;
  }

  .syrup-or-curry-switch ul {
    height: 75px;
  }
}

/* SPICE SYRUP */
.syrup p {
  line-height: 30px;
}

.syrup-title {
  text-align: center;
  margin: 75px 0;
}

.syrup-title h2 {
  font-size: 55px;
  font-weight: 900;
  margin: 0;
  line-height: 55px;
}

@media only screen and (max-width:589px){
  .syrup-title {
    margin: 30px 0;
  }

  .syrup-title h2 {
    font-size: 30px;
    line-height: 30px;
  }
}

/* feature共通サブタイトル */
.syrup-subtitle {
  display: flex;
  margin-bottom: 80px;
}

.syrup-subtitle p {
  margin: 0;
  text-align: center;
}

.syrup-number {
  border-right: 2px solid #ADADAD;
  padding-right: 15px;
} 

.syrup-number p {
  font-weight: bold;
  font-family: 'ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
}
.feature {
  font-size: 14px;
}
.number {
  font-size: 45px;
  line-height: 45px;
}

.syrup-subtitle-text {
  display: flex;
  flex-direction: column-reverse;
}

.syrup-subtitle-text p{
  font-size: 40px;
  line-height: 35px;
  padding-left: 15px;
}

@media only screen and (max-width:589px){
  .feature {
    font-size: 10px;
  }

  .number {
    font-size: 30px;
  }

  .syrup-subtitle {
    margin-bottom: 30px;
  }
  

  .syrup-subtitle-text p {
    font-size: 20px;
    text-align: left;
  }
}
/* feature共通　コンテンツ内容 */
.feature-flex {
  display: flex;
  justify-content: space-between;
}

.feature-pc-left,
.feature-pc-right {
  width: 48.5%;
}

.feature-pc-2column {
  width: 65%;
}

.feature-pc-1column {
  width: 32%;
  display: flex;
  flex-direction: column-reverse;
}

.feature-center {
  text-align: center;
}

.feature-margin-bottom {
  margin-bottom: 80px;
}

.feature-text {
  font-size: 0.95em;
}

.feature-line-text {
  font-weight: bold;
  font-size: 1.3em;
  background: linear-gradient(transparent 75%, #F7C600 75%);
  display: inline-block;
}

.caption-bold,
.text-bold {
  font-weight: bold;
  font-size: 1.2em;
}

.syrup span {
  font-weight: bold;
}

.br-pc-none {
  display: none;
}

@media only screen and (max-width:589px){
  .feature-flex {
    flex-direction: column;
  }

  .feature-pc-left,
  .feature-pc-right,
  .feature-pc-2column,
  .feature-pc-1column
   {
    width: 100%;
  }

  .feature-center p {
    text-align: left;
  }

  .feature-margin-bottom {
    margin-bottom: 40px;
  }

  .feature-line-text {
    font-size: 0.9em;
  }

  .caption-bold,
  .text-bold{
    font-size: 1em;
  }

  .br-sp-none {
    display: none;
  }

  .feature-sp-margin {
    margin-bottom: 50px;
  }

  .br-pc-none {
    display: block;
  }
}

/* ボーダータイトル */
.about-border-title {
  display: flex;
  align-items: center;
  color: #DF8800;
  font-weight: bold;
  font-size: 30px;
  font-family: 'ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
  margin-bottom: 20px;
}

.about-border-title::before,
.about-border-title::after {
  border-top: 1px solid #DF8800;
  content:"";
  flex-grow: 1;
}

.about-border-title::before {
  margin-right: 1rem;
}

.about-border-title::after {
  margin-left: 1rem;
}

/* feature01  */
.image01-2-sp {
  display: none;
}

.image01-3 {
  width: 55%;
  margin-top: 20px;
}

@media only screen and (max-width:589px){
  .image01-2-pc {
    display: none;
  }
  
  .image01-2-sp {
    display: block;
    margin-bottom: 20px;
  }

  .image01-3 {
    width: 100%;
    margin-bottom: 20px;
  }
}

/* feature02  */
.feature-02-margin {
  margin-bottom: 30px;
}

/* feature03 */
.image03-5-sp {
  display: none;
}

.about-youtube {
  text-align: center;
}

.about-youtube p {
  margin: 30px 0;
}

.about-youtube-btn {
  box-sizing: border-box;
  border: 2px solid #ADADAD;
  padding: 20px 120px;
  border-radius: 50px;
  display: inline-block;
  font-weight: bold;
}

@media only screen and (max-width:589px){
  .image03-5-pc {
    display: none;
  }

  .image03-5-sp {
    display: block;
  }
}


/* ABOUT 終了 */