<h1 class="page-title">ABOUT</h1>

{% section 'advanced-content-about' %}
{% section 'advanced-content-about-card' %}

<div class="syrup">
  <nav class="syrup-or-curry-switch">
    <ul>
      <li><a href="#">スパイスシロップについて</a></li>
      <li><a href="#">スパイスカレーについて</a></li>
    </ul>
  </nav>
  <div class="syrup-title">
    <h2>SPICE SYROP</h2>
    <p>スパイスシロップについて</p>
  </div>
  <div class="feature01-wrapper">
    <div class="pc-left">
      <h3><span>Feature</span><span>01</span>手作りの楽しさ</h3>
    </div>
    <pc-right>
      <img src="#" alt="">
      <p>ポイントの1つは、あえて少し手間をかけて手づくりをするところにあります。<br>一人でのんびり作るのも、お家やアウトドアで友だちや家族と作るのもオススメです。<br>HELLO MY BLENDのキットを通して手作りの楽しさを感じてもらえたら嬉しいです。</p>
    </pc-right>
  </div>

</div>