<h1 class="page-title">ABOUT</h1>

{% section 'advanced-content-about' %}
{% section 'advanced-content-about-card' %}

<div class="syrup-or-curry-switch">
  <ul>
    <li class="nav-active"><a href="#">スパイスシロップについて</a></li>
    <li class="nav-not-active"><a href="#">スパイスカレーについて</a></li>
  </ul>
</div>
<div class="syrup">
  <div class="syrup-title">
    <h2>SPICE SYRUP</h2>
    <p>スパイスシロップについて</p>
  </div>
  <div class="feature-flex">
    <div class="feature-pc-left">
      <div class="syrup-subtitle">
        <div class="syrup-number">
          <p class="feature">Feature</p>
          <p class="number">01</p>
        </div>
        <div class="syrup-subtitle-text">
          <p>手づくりの楽しさ</p>
        </div>
      </div>
      <img src="https://cdn.shopify.com/s/files/1/0532/7703/2640/files/menu3.jpg?v=1618386759" alt="">
    </div>
    <div class="feature-pc-right">
      <img class="image01" src="https://cdn.shopify.com/s/files/1/0532/7703/2640/files/menu3.jpg?v=1618386759" alt="">
      <p>ポイントの1つは、あえて少し手間をかけて手づくりをするところにあります。<br>一人でのんびり作るのも、お家やアウトドアで友だちや家族と作るのもオススメです。<br>HELLO MY
        BLENDのキットを通して手作りの楽しさを感じてもらえたら嬉しいです。</p>
    </div>
  </div>
  <div class="feature-center">
    <img src="https://cdn.shopify.com/s/files/1/0532/7703/2640/files/menu3.jpg?v=1618386759" alt="">
    <p>自分で作った、作りたての味は格別です！</p>
  </div>

  <div class="syrup-subtitle">
    <div class="syrup-number">
      <p class="feature">Feature</p>
      <p class="number">02</p>
    </div>
    <div class="syrup-subtitle-text">
      <p>楽しみ方いろいろ</p>
    </div>
  </div>
  <p class="feature-line-text">自宅で本格スパイスチャイが楽しめます。</p>
  <div class="feature-flex">
    <div class="feature-pc-left">
      <figure>
        <img src="https://cdn.shopify.com/s/files/1/0532/7703/2640/files/menu3.jpg?v=1618386759" alt="おこもり時間のお供にチャイ">
        <figcaption class="caption-bold">おこもり時間のお供にチャイ。</figcaption>
      </figure>
    </div>
    <div class="feature-pc-right">
      <p>
        これから寒くなる季節に、一番オススメの飲み方は紅茶とミルクで作る、<span>本格スパイスチャイ</span>です。スパイスの香りとジンジャーのエキスがギュッと凝縮して、きび佐藤のこっくりとした甘みと合わさり絶妙な味わいが楽しめます。
      </p>
      <p>HELLO MY BLENDのシロップは乾燥ジンジャーを煮出して作ります。</p>
    </div>
  </div>

  <p class="feature-line-text">身体に優しいホームメイドのクラフトコーラ。</p>
  <div class="feature-flex">
    <div class="feature-pc-left">
      <figure>
        <img src="https://cdn.shopify.com/s/files/1/0532/7703/2640/files/menu3.jpg?v=1618386759" alt="家でつくるクラフトコーラ">
        <figcaption class="caption-bold">家でつくるクラフトコーラ</figcaption>
      </figure>
    </div>
    <div class="feature-pc-right">
      <figure>
        <img src="https://cdn.shopify.com/s/files/1/0532/7703/2640/files/menu3.jpg?v=1618386759" alt="懐かしい味のコーラフロート">
        <figcaption class="caption-bold">懐かしい味のコーラフロート。</figcaption>
      </figure>
    </div>
  </div>
  <p>クローブやシナモン、カルダモンやペッパーなど数種類のスパイスとレモンをきび砂糖と煮出して作るスパイスジンジャーシロップは、<br class="br-pc-none">炭酸で割ると、まるで<span>優しい風味のコーラのような味わい</span>になります。<br>レモンをライムに変えたり、アイスをプラスしてコーラフロートにするアレンジもオススメです！</p>

  <p class="feature-line-text">オリジナルカクテルのレシピの幅が広がります。</p>
  <div class="feature-flex">
    <div class="feature-pc-left">
      <figure>
        <img src="https://cdn.shopify.com/s/files/1/0532/7703/2640/files/menu3.jpg?v=1618386759" alt="温まるホットサングリア">
        <img src="https://cdn.shopify.com/s/files/1/0532/7703/2640/files/menu3.jpg?v=1618386759" alt="">
        <figcaption class="caption-bold">温まるホットサングリア。</figcaption>
      </figure>
      <p>ホットサングリアなど、スパイスを効かせたカクテルにしても美味しく頂けます。赤ワインにオレンジ、りんご、レモンを入れて温め、シロップを少し加えて煮出したらジンジャーが聞いた<span>スパイシーなホットサングリアに！</span></p>
    </div>
    <div class="feature-pc-right">
      <figure>
        <img src="https://cdn.shopify.com/s/files/1/0532/7703/2640/files/menu3.jpg?v=1618386759" alt="">
        <figcaption class="caption-bold">スパイシーシャンディ・ガフ。</figcaption>
      </figure>
      <p>ビールと合わせると、スパイシーなシャンディガフに。ビールの苦味にジンジャーとレモンの爽やかな香りに甘さがプラスされ、さっぱりとした飲みやすいビアカクテルになります。<span>アウトドアでBBQ料理とも相性抜群です！</span></p>
    </div>
  </div>



</div>